* {font-family: Arial, Helvetica, sans-serif; }
h1 {font-size: 2.2rem;
    color: rgb(121, 33, 33);
}

h2 {font-size: 1.8rem;
    color: rgb(146, 40, 40);}

p {font-size: 1.5rem;}


.eqe-title{
    padding: 25px;
    font-size: 20px;
}
.eqe-box{
    display: flex;
    text-align: center;
    padding: 25px;
    margin: 25px;
    border: 2px, dotted, black;
}

.eqe-box-flex {
    border: 1px, solid, black;
    padding: 1rem;
    margin: 25px;
}